<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="lesserbot">
    <title>Mechanical Mill</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/skeleton.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div class="dashboard">
    <%- include left-panel.ejs %>
    <div class="main-container-parent">
        <div class="main-container">
            <%- include top-panel.ejs %>
            <div class="container">
                <div class="row">
                    <div class="six columns card">
                        <h1><%=balance%></h1>
                        <h6>Captches left</h6>
                    </div>
                    <div class="six columns card">
                        <h1><%=solvedAllTime%></h1>
                        <h6>Captches you solved</h6>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <h4>History</h4>
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>Day</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (var key in history){%>
                    <tr>
                        <td><%=history[key].date%></td>
                        <td><%=history[key].count%></td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>