<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="lesserbot">
    <title>Mechanical Mill</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/skeleton.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div class="container page-error">
    <div class="row">
        <div class="ten column">
            <h2>Mechanical Mill</h2>
            <h1><%=status%></h1>
            <h3><%=message%></h3>
            <a href="/">TO MAIN PAGE</a>
        </div>
    </div>
</div>
</body>
</html>