<div class="left-panel-helper">
    <div class="left-panel">
        <div class="left-panel-inner">
            <a href="/user/dashboard" class="<%= page == 'dashboard' ? 'active' : '' %>">DASHBOARD</a>
            <a href="/user/settings" class="<%= page == 'settings' ? 'active' : '' %>">SETTINGS</a>
            <a href="/user/payments" class="<%= page == 'payments' ? 'active' : '' %>">PAYMENTS</a>
            <a href="/logout" class="logout">LOGOUT</a>
        </div>
    </div>
</div>