<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="lesserbot">
    <title>Mechanical Mill</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/skeleton.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div class="container login-form">
    <div class="row">
        <div class="ten column">
            <div class="centroid">
                <h2>Mechanical Mill</h2>
                <h4>Welcome stranger</h4>
            </div>
            <form name="login-form" method="post" action="/login?nocache=<%= '' + Date.now() + Math.random()%>">
                <input name="email" class="u-full-width" type="email" placeholder="email" value="<%= email %>">
                <input name="password" class="u-full-width" type="password" placeholder="password">
                <p class="color-danger"><% if (typeof err !== 'undefined') { %>
                    <%= err %>
                <%}%> </p>
                <input class="button-primary" type="submit" value="Login">
            </form>
            <div class="centroid">
                <a>Invite only</a>
                <!--<a href="/register">Register</a>-->
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>
</body>
</html>