<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="lesserbot">
  <title>Mechanical Mill</title>
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/skeleton.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div class="payments">
    <%- include left-panel.ejs %>
    <div class="main-container">
        <%- include top-panel.ejs %>
        <div class="container">
            <div class="row">
                <h6><%=message%></h6>
                <pre><code><%=address%></code></pre>
            </div>
        </div>
    </div>
</div>
</body>
</html>