<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="lesserbot">
  <title>Mechanical Mill</title>
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/skeleton.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div class="payments">
    <%- include left-panel.ejs %>
    <div class="main-container">
        <%- include top-panel.ejs %>
        <div class="container">
            <div class="row">
                <h5>Payments</h5>
                <h6>We just accept bitcoins. They will be converted to captches points with change value 0.2$ = 1000 with latest blockchain.info change price which by now is <%=price%>$</h6>
                <a class="button" href="/user/payment">Generate one time payment address</a>
                <br/>
                <br/>
                <h7>Support email:</h7>
                <a href="mailto:admin@mail.mechanicalmill.com">admin@mail.mechanicalmill.com</a>
            </div>
            <br/>
            <br/>
            <br/>
            <h4>History</h4>
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Address</th>
                    <th>BTC</th>
                    <th>Captches</th>
                </tr>
                </thead>
                <tbody>
                <% for (var key in history){%>
                    <tr>
                        <td><%=history[key].date%></td>
                        <td><%=history[key].address%></td>
                        <td><%=history[key].btc%></td>
                        <td><%=history[key].captches%></td>
                    </tr>
                <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>