<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script>
        window.onResolveCallback = function(gResponse) {
            console.log(JSON.stringify({event:'resolve', gResponse:gResponse}));
        };
        window.onLoadCallback = function() {
            grecaptcha.render('test', {
                'sitekey': "<%=sitekey%>",
                callback: window.onResolveCallback
            });
        };
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onLoadCallback&render=explicit" async defer></script>
</head>
<body>
<div id="test" class="g-recaptcha" data-sitekey="<%=sitekey%>" data-callback="onResolveCallback"></div>
<!--<script src="https://www.google.com/recaptcha/api.js"></script>-->
</body>
</html>