<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="lesserbot">
    <title>Mechanical Mill</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/skeleton.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div class="container login-form">
    <div class="row">
        <div class="ten column">
            <div class="centroid">
                <h2>Mechanical Mill</h2>
                <h4>Registration</h4>
            </div>
            <form  style="<%= message != '' ? 'display:none;' : ''%>" name="register-form" method="post" action="/register">
                <input name="email" class="u-full-width" type="email" placeholder="email" value="<%= email %>">
                <p class="color-danger"><% if (typeof err !== 'undefined' && err != '') { %>
                    <%= err %>
                <%}%> </p>
                <input class="button-primary" type="submit" value="Register">
            </form>
            <div class="centroid">
                <p class=""><% if (typeof message !== 'undefined' && message != '') { %>
                    <%= message %>
                    <%}%>
                </p>
                <a href="/">Main</a>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>

</body>
</html>