<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="lesserbot">
    <title>Mechanical Mill</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/skeleton.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div class="settings-page">
    <%- include left-panel.ejs %>
    <div class="main-container">
        <%- include top-panel.ejs %>
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <h5>Api Key</h5>
                    <h6>Key to use in application</h6>
                </div>
                <div class="eight columns">
                    <form name="settings-form" method="post" action="/user/regenerateApiKey?nocache=<%= '' + Date.now() + Math.random()%>">
                        <input class="api-key-field" type="text"  readonly placeholder="Api Key" value="<%=apiKey%>">
                        <input type="submit" value="Regenerate">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <div class="divider"></div>
                    <h5>API</h5>
                    <h6>Our service just emulate anti-gate (anti-captcha.com) <a href="https://anticaptcha.atlassian.net/wiki/display/API/Documentation+in+English">api</a> <br/>Only ImageToTextTask by now</h6>
                    <br/>
                    <div style="margin: 10px">
                        <h6><b>createTask</b></h6>
                        <h6>Method address: https://api.mechanicalmill.com/createTask</h6>
                        <h6>Request format: JSON POST</h6>
                        <table class="u-full-width">
                            <thead>
                            <tr>
                                <th style="max-width: 15%">Parameter</th>
                                <th style="max-width: 15%">Type</th>
                                <th style="max-width: 60%">Purpose</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>clientKey</td>
                                <td>String</td>
                                <td>Api Key which u can find above on this page.</td>
                            </tr>
                            <tr>
                                <td>task</td>
                                <td>Object</td>
                                <td>Object with two field, {"type":"ImageToTextTask","body":"base64_encoded_image"}</td>
                            </tr>
                            <tr>
                                <td>domain</td>
                                <td>String (optional)</td>
                                <td>Optional field with domain name (like 'google.com') to improve quality of our system.</td>
                            </tr>
                            </tbody>
                        </table>
                        <h6>The answer will look like <pre><code>{"errorId":0,"taskId":5071327}</code></pre> Error codes list below.</h6>
                        <div class="divider"></div>
                        <h6><b>getTaskResult</b></h6>
                        <h6>Method address: https://api.mechanicalmill.com/getTaskResult</h6>
                        <h6>Request format: JSON POST</h6>
                        <table class="u-full-width">
                            <thead>
                            <tr>
                                <th style="max-width: 15%">Parameter</th>
                                <th style="max-width: 15%">Type</th>
                                <th style="max-width: 60%">Purpose</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>clientKey</td>
                                <td>String</td>
                                <td>Api Key which u can find above on this page.</td>
                            </tr>
                            <tr>
                                <td>taskId</td>
                                <td>Int</td>
                                <td>task id which was obtained in createTask</td>
                            </tr>
                            </tbody>
                        </table>
                        <h6>The answer will look like
                    <pre><code>{
    "errorId":0,
    "status":"ready" or "processing",
    "solution": {
        "text":"d345a",
        "url":"https:\/\/mechanicalmill.com\/captches\/51235123\/147220556452507.jpg"
    },
    "cost":"1",
    "ip":"93.123.54.221",
    "createTime":1472205564,
    "endTime":1472205570,
    "solveCount":"1"
}</code></pre></h6>
                        <div class="divider"></div>
                        <h6><b>Error codes</b></h6>
                        <table class="u-full-width">
                            <thead>
                            <tr>
                                <th style="max-width: 15%">Code</th>
                                <th style="max-width: 75%">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>ERROR_KEY_DOES_NOT_EXIST</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>ERROR_NO_SLOT_AVAILABLE</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>ERROR_ZERO_CAPTCHA_FILESIZE</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>ERROR_TOO_BIG_CAPTCHA_FILESIZE</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>ERROR_ZERO_BALANCE</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>ERROR_CAPTCHA_UNSOLVABLE</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>ERROR_NO_SUCH_METHOD</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>ERROR_IMAGE_TYPE_NOT_SUPPORTED</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>ERROR_NO_SUCH_CAPCHA_ID</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>ERROR_TASK_NOT_SUPPORTED</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>