<div class="top-panel">
    <div class="navigator">
        <a class="gamburger"></a><a class="main"><%= page.toUpperCase() %></a>
        <ul>
            <li><a href="/user/dashboard" class="<%= page == 'dashboard' ? 'active' : '' %>">DASHBOARD</a></li>
            <li><a href="/user/settings" class="<%= page == 'settings' ? 'active' : '' %>">SETTINGS</a></li>
            <li><a href="/user/payments" class="<%= page == 'payments' ? 'active' : '' %>">PAYMENTS</a></li>
            <li><a href="/logout" class="logout">LOGOUT</a></li>
        </ul>
    </div>
</div>
