html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
body::after{ content:''; display:block; height:30px; }

.centroid {
    text-align: center;
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
}
.login-form h2 {
    margin-top: 50px;
}
.login-form form {
    max-width: 320px;
    margin: 50px auto 10px;
}

.login-form .color-danger {
    color: red;
}

.page-error {
    text-align: center;
}
.page-error .ten {
    margin-top: 50px;
}
.page-error .h1,.page-error h1 {
    color: darkred;
}

.left-panel-helper {
    width: 20%;
    height: 100%;
    min-height: 100px;
    min-width: 100px;
    float: left;
}

.left-panel {
    z-index: 10;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    height: 100%;
    width: 20%;
    min-width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.left-panel-inner {
    height: 320px;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
}
.left-panel-inner a {
    text-decoration: none;
    display: block;
    margin-top: 15px;
    color: black;
}
.left-panel-inner a.active {
    color: blue;
}
.left-panel-inner a:hover {
    color: blue;
}
.left-panel-inner a.logout {
    margin-top: 50px;
}

.top-panel {
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
    min-height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.top-panel .navigator {
    width: initial;
    background: white;
    display: none;
}
.top-panel .navigator ul {
    list-style: none;
    position: fixed;
    padding: 0 40px;
    z-index: 9999;
    display: none;
    width: inherit;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.top-panel .navigator:hover ul {
    display: block;
}

.top-panel .navigator li:hover ul {
    display: block;
}

.top-panel a {
    text-decoration: none;
}
.top-panel a.active {
    color: blue;
}
.top-panel a:hover {
    color: blue;
}
.top-panel a.logout {
    margin-top: 50px;
}
.top-panel a.main {
    padding-left: 10px;
    color: blue;
}
.top-panel a.gamburger {
    height: 24px;
    width: 24px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 24 24' enable-background='new 0 0 24 24' xml:space='preserve'><rect width='24' height='4'/><rect width='24' height='4' y='14'/><rect width='24' height='4' y='7'/></svg>");
    background-size: contain;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
}
.divider {
    width: 100%;
    height: 1px;
    margin: 50px 0;
    background-color: lightgray;
}
.settings-page .api-key-field {
    width: 100%;
}
@media screen and (max-width: 640px) {
    .left-panel-helper {
        display: none;
    }
    .main-container {
        width: 100% !important;
    }
    .top-panel .navigator {
        display: block;
    }
}
.main-container {
    float: left;
    width: 80%;
}
.main-container {
    float: left;
    width: 80%;
}

.main-container .card {
    text-align: center;
}
.main-container h1 {
    margin-bottom: 0;
}

.card {
    padding-top: 20px;
    min-width: 120px;
    min-height: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}